/.idea/.idea.MyGarage/.idea/
/TaranSoft.MyGarage.sln.DotSettings.user
/TaranSoft.MyGarage/bin
/TaranSoft.MyGarage/obj
/TaranSoft.MyGarage.*/bin
/TaranSoft.MyGarage.*/obj
/TaranSoft.MyGarage.Tests/bin
/TaranSoft.MyGarage.Tests/obj
/.vs
